<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ascii art web</title>
        <link rel="stylesheet" href="/styleSignIn.css">
    </head>
<body>
    <div id="content">

        <form action="/ascii-art" method="post">
      
          <font size="5"> <pre><b>                                                             
  O    o-o    o-o  o-O-o  o-O-o                _|_|   _|_|_|   _|_|_|_|_| 
 / \  |      /       |      |                _|    _| _|    _|     _|     
o---o  o-o  O        |      |                _|_|_|_| _|_|_|       _|     
|   |     |  \       |      |                _|    _| _|    _|     _|     
o   o o--o    o-o  o-O-o  o-O-o              _|    _| _|    _|     _|     
                              
                              

  _____   ______   _   _   ______   _____               _______    ____    _____   
 / ____| |  ____| | \ | | |  ____| |  __ \      /\     |__   __|  / __ \  |  __ \  
| |  __  | |__    |  \| | | |__    | |__) |    /  \       | |    | |  | | | |__) | 
| | |_ | |  __|   | . ` | |  __|   |  _  /    / /\ \      | |    | |  | | |  _  /  
| |__| | | |____  | |\  | | |____  | | \ \   / ____ \     | |    | |__| | | | \ \  
 \_____| |______| |_| \_| |______| |_|  \_\ /_/    \_\    |_|     \____/  |_|  \_\ 
                                                                                   
          </b></pre></font>
          <br> 
          <label for="name">Name:</label>

          <input type="text" id="name" name="username" autocomplete="User">
         
            <br>
            <input type="submit" value="Start!" id="subbtn">
        </form>
    </div>
</body>
</html>